server:
  port: ${AUTH_SERVICE_PORT}

spring:
  # Network interface selection for Eureka registration
  # Problem: Mac has multiple network interfaces (WiFi, Thunderbolt, Docker, etc.)
  # Eureka may auto-detect wrong IP (e.g., 169.254.x.x link-local address)
  # Solution: Force Spring to use 192.168.1.x network and ignore virtual interfaces
  cloud:
    inetutils:
      preferred-networks:
        - 192.168.1
      ignored-interfaces:
        - en14          # Thunderbolt/USB adapter (link-local 169.254.x.x)
        - docker*       # Docker virtual interfaces
        - veth*         # Docker container interfaces
        - br-*          # Docker bridge interfaces
  datasource:
    url: jdbc:postgresql:${POSTGRES_HOST}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    hikari:
      maximum-pool-size: 10         # Maximum number of connections in the pool
      minimum-idle: 5               # Minimum number of idle connections
      max-lifetime: 2700000         # Max lifetime of a connection in milliseconds (27 minutes)
      idle-timeout: 600000          # Time that a connection can sit idle in milliseconds (10 minutes)
      validation-timeout: 5000      # Timeout for connection validation in milliseconds (5 seconds)
      connection-test-query: SELECT 1  # Query to validate connections
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          default_schema: public  # <-- Add this line
          format_sql: true
#in here hostname and ip address id where the this submodule is running
#which is case of direct connection from the mac to the pi HOST_IP should eureka clinet ip address which is mac local network ip address
#instead ip address of pi
eureka:
  instance:
    prefer-ip-address: true  # Forces Eureka to use an IP instead of hostname
    ip-address: ${HOST_IP}   # Uses the correct network IP WHERE THIS SERVICE IS RUNNIN
    hostname: ${HOST_IP}     # Ensures consistency
  client:
    service-url:
      defaultZone:  ${EUREKA_SERVER_URL}
    fetch-registry: true
    register-with-eureka: true
    enabled: true


logging:
  level:
    root: INFO
    org:
      hibernate: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql: TRACE
    #com.zaxxer.hikari: INFO
    com.netflix.discovery.DiscoveryClient: WARN  # Skip debug messages for DiscoveryClient
    com.adventuretube.auth: DEBUG  # Enable debug messages for auth-service

jwt:
  secret: ${JWT_SECRET}
  expiration:
       access-token: ${ACCESS_TOKEN_EXPIRATION}
       refresh-token: ${REFRESH_TOKEN_EXPIRATION}
google:
  client-id: ${GOOGLE_CLIENT_ID}
  client-secret: ${GOOGLE_CLIENT_SECRET}
  #redirect-uri: ${GOOGLE_REDIRECT_URI}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
