server:
  port: ${GATEWAY_PORT}

spring:
  # Network interface selection for Eureka registration
  # Problem: Mac has multiple network interfaces (WiFi, Thunderbolt, Docker, etc.)
  # Eureka may auto-detect wrong IP (e.g., 169.254.x.x link-local address)
  # Solution: Force Spring to use 192.168.1.x network and ignore virtual interfaces
  cloud:
    inetutils:
      preferred-networks:
        - 192.168.1
      ignored-interfaces:
        - en14          # Thunderbolt/USB adapter (link-local 169.254.x.x)
        - docker*       # Docker virtual interfaces
        - veth*         # Docker container interfaces
        - br-*          # Docker bridge interfaces
  application:
  #  cloud:
  #    gateway:
  #      routes:
  #        - id: member-service
  #          uri: lb://MEMBER-SERVICE
  #          predicates:
  #            - Path=/member/**
  #        - id: web-service
  #          uri: lb://WEB-SERVICE
  #          predicates:
  #            - Path=/web/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
       defaultZone: ${EUREKA_SERVER_URL}
    fetch-registry: true
    register-with-eureka: true


springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: Auth Service
        url: /auth-service/v3/api-docs
      - name: Member Service
        url: /member-service/v3/api-docs
      - name: Web Service
        url: /web-service/v3/api-docs
      - name: Geospatial Service
        url: /geo-service/v3/api-docs


logging:
    level:
      root: INFO
jwt:
  secret: ${JWT_SECRET}
