server:
  port: 8030

spring:
  application:
  #  cloud:
  #    gateway:
  #      routes:
  #        - id: member-service
  #          uri: lb://MEMBER-SERVICE
  #          predicates:
  #            - Path=/member/**
  #        - id: web-service
  #          uri: lb://WEB-SERVICE
  #          predicates:
  #            - Path=/web/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
       defaultZone: http://strider-pi.local:8761/eureka
    fetch-registry: true
    register-with-eureka: true



logging:
    level:
      root: INFO
jwt:
  secret : adventuretubeMiAVzqUXy5Tfr1kVIGpPMiAVzqUXy5Tfr1kVIGpP
