server:
  port: 8060

spring:
  data:
    mongodb:
      authentication-database: admin
      username: rootuser
      password: rootpass
      database: adventuretube
      port: 27017
      host: 192.168.1.101
      auto-index-creation: true
    rest:
      base-path: /api/rest
  datasource:
    url: jdbc:postgresql://192.168.1.101:5432/adventuretube
    username: postgres
    password: mysecretpassword
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          default_schema: public  # <-- Add this line
          format_sql: true
  kafka:
    consumer:
      bootstrap-servers: 192.168.1.125:29092
      group-id: group_id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      bootstrap-servers: kafka:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true



logging:
  level:
    root: INFO
    org:
      hibernate: INFO
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql: TRACE
    com.zaxxer.hikari: INFO
    com.netflix.discovery.DiscoveryClient: INFO  # Skip debug messages for DiscoveryClient
    com.adventuretuebe.member_service: DEBUG  # Ensure debug messages for member-service



jwt:
  secret: adventuretubeMiAVzqUXy5Tfr1kVIGpPMiAVzqUXy5Tfr1kVIGpP


