
server:
  port: ${MEMBER_SERVICE_PORT}

spring:
  # R2DBC configuration (replaces datasource/JPA)
  r2dbc:
    url: r2dbc:postgresql:${POSTGRES_HOST}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    pool:
      initial-size: 5
      max-size: 10
      max-idle-time: 30m

#in here hostname and ip address id where the this submodule is running
#which is case of direct connection from the mac to the pi HOST_IP should eureka clinet ip address which is mac local network ip address
#instead ip address of pi
eureka:
  instance:
    prefer-ip-address: true   # Forces Eureka to use IP instead of hostname
    ip-address: ${HOST_IP}  # Uses the correct network IP WHERE THIS SERVICE IS RUNNIN
    hostname: ${HOST_IP}    # Ensure consistency
  client:
    service-url:
      defaultZone:  ${EUREKA_SERVER_URL}
    fetch-registry: true
    register-with-eureka: true
    enabled: true

logging:
  level:
    root: INFO
    io.r2dbc.postgresql: INFO
    org.springframework.r2dbc: INFO
    com.adventuretube.member: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
